<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clover.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Clover.My.MySettings>
            <setting name="homepage" serializeAs="String">
                <value />
            </setting>
            <setting name="StyleBrowser0" serializeAs="String">
                <value>216, 214, 211</value>
            </setting>
            <setting name="StyleBrowser1" serializeAs="String">
                <value>186, 185, 183</value>
            </setting>
            <setting name="StyleBrowser2" serializeAs="String">
                <value>216, 214, 211</value>
            </setting>
            <setting name="StyleBrowser3" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="StyleBrowser4" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="StyleBrowser5" serializeAs="String">
                <value>238, 236, 233</value>
            </setting>
            <setting name="StyleBrowser6" serializeAs="String">
                <value>216, 214, 211</value>
            </setting>
            <setting name="StyleBrowser7" serializeAs="String">
                <value>238, 236, 233</value>
            </setting>
            <setting name="StyleBrowser8" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StyleBrowser9" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="StyleBrowser10" serializeAs="String">
                <value>229, 226, 222</value>
            </setting>
            <setting name="StyleBrowser11" serializeAs="String">
                <value>86, 75, 68</value>
            </setting>
            <setting name="StyleBrowser12" serializeAs="String">
                <value>229, 226, 222</value>
            </setting>
            <setting name="StyleBrowser13" serializeAs="String">
                <value>86, 75, 68</value>
            </setting>
            <setting name="StyleBrowser14" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleBrowser15" serializeAs="String">
                <value>249, 249, 251</value>
            </setting>
            <setting name="Mytheme" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="CustomTheme" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CustomTheme</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AskforCloseTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskforDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadsFolder" serializeAs="String">
                <value />
            </setting>
        </Clover.My.MySettings>
    </userSettings>
</configuration>